.react-third-party-login-button {
  &__google {
    border: none;
    border-radius: 0.375rem;
    padding: 0.75rem 1rem;
    outline: none;
    font-size: 1rem;
    color: #f8f9fa;
    cursor: pointer;
    box-sizing: border-box;

    background-color: #364fc7;

    &:hover {
      background-color: #4263eb;
    }
  }

  &__naver {
    border: none;
    outline: none;
    padding: 0;
    display: block;
    border-radius: 0.5rem;
    cursor: pointer;

    img {
      width: 100%;
      display: flex;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__kakao {
    border: none;
    outline: none;
    padding: 0;
    display: block;
    border-radius: 0.5rem;
    cursor: pointer;

    img {
      width: 100%;
      display: flex;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
